.about-us {
    display: block;
    margin: auto;
    width: 52.5rem;
    height: 100%;
    background-color: white;
}

.about-us-block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about-us-community, .about-us-product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    height: 18rem;
    padding: 1rem;
    border: 1px solid rgba(206, 212, 218, 1);
    border-radius: 8px;
    color: white;
}

.about-us-community {
    border: 2px solid linear-gradient(45deg, 
    #b3e5fc 0%, 
    #ffb6c1 20%, 
    #fff5f5 40%, 
    #d4f1f9 60%, 
    #e0f7fa 80%, 
    #b3e5fc 100%);
}

.about-us-community:hover {
    background: linear-gradient(45deg, 
    #b3e5fc 0%, 
    #ffb6c1 20%, 
    #fff5f5 40%, 
    #d4f1f9 60%, 
    #e0f7fa 80%, 
    #b3e5fc 100%);
    color: black;
}

.about-us-product {
    border: 2px solid linear-gradient(45deg, #add8e6, #b19cd9, #dda0dd, #e6e6fa, #d8bfd8, #c3b1e1);
}

.about-us-product:hover {
    background: linear-gradient(45deg, #add8e6, #b19cd9, #dda0dd, #e6e6fa, #d8bfd8, #c3b1e1);
    color: black;
}

.about-us-blk-text {
    font-size: 23px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1rem;
}

.about-us-blk-para {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .about-us-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-community, .about-us-product {
        width: 90%;
        height: 100%;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 1050px) {
    .about-us-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-community, .about-us-product {
        width: 90% !important;
        height: auto;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 1250px) {
    .about-us-community, .about-us-product {
        width: 45%;
    }
}
